.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 2.8rem;
    font-weight: 900;
    margin-bottom: 30px;
    text-align: center;
    
}

.accordion {
    border-top: 1px solid #000;
}

.accordion-item {
    border-bottom: 1px solid #000;
    background-color: #303030;
}

.accordion-header {
    padding: 1.5em 1.2em;
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    transition: background 0.3s ease;
}

.accordion-header:hover {
    background-color: #414141;
}

.accordion-header::after {
    content: '+';
    font-size: 2.2rem;
    transition: transform 0.3s ease;
}

.accordion-header.active::after {
    content: '-';
    transform: rotate(0);
}

.accordion-header.active {
    background-color: #414141;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 1.2em;
    font-size: 1.5rem;
    line-height: 1.6;
    background-color: #303030;
    transition: max-height 0.4s ease, padding 0.4s ease;
}

.accordion-content.open {
    max-height: 600px;
    padding: 1.5em 1.2em;
}

.accordion-content p {
      margin-bottom: 1em;
}

.accordion-content p:last-child {
    margin-bottom: 0;
}

@media (max-width: 600px) {
    .accordion-header {
        font-size: 1.4rem;
        padding: 1.2em 1em;
    }

    .accordion-content {
        font-size: 1.3rem;
    }
}