* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
}

.login-form {
  align-items: center;
  justify-content: center;
  line-height: 1.7;
  padding: 50px 50px;
  height: 90vh;
  width: 30%;
  border-radius: 10px;
  align-content: center;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.6);
}

p {
    line-height: 1.5;
    text-align: center;
    opacity: 0.5;
    color: #000;
    font-size: 1.1em;
}
.login-form h1 {
    text-align: center;
    color: darkgreen;
    font-size: 2.7rem;
    margin-bottom: 8px;
    font-weight: 700;
}



.login-form span {
    color: lightseagreen;
    
    
}

label {
    font-size: 1.1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    text-align: center;
    color: darkgreen;
    font-weight: 900;
    font-size: 2.6rem;
}

input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #00c853;
    outline: none;
    
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: green;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.login-btn:hover {
    background-color: darkgreen;
}

#pass {
    float: right;
    color: skyblue;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    color: lightseagreen;
}

.forgot {
    margin-top: 30px;
}

a {
    color: lightseagreen;
    text-decoration: none;
}